# for github actions, run update_data_csvs_and_jsons.py and once it is done, run update_and_rebuild_model.py every tuesday at 4:30pm PST
name: Update Data
# make it run every thursday at 4am UTC (that is 8pm PST)
on:
  schedule:
    - cron: '0 4 * * 4'
jobs:
  update_data:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Update Data
        run: |
          cd src
          python3 update_data_csvs_and_jsons.py
          python3 update_and_rebuild_model.py
# commit files
      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "github-actions"
          git add .
          git commit -m "Update Data"
          git push
          

